[Unit]
Description=update telegram profile photo based on weather conditions
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=uv run avatar_updater.py
WorkingDirectory=/home/gog4/dava
StandardOutput=append:/var/log/dava.log
StandardError=dava-error.log

[Install]
WantedBy=multi-user.target